#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    quick-tap-ms = <200>;
    flavor = "tap-preferred";
    require-prior-idle-ms = <125>;
};

&lt {
    quick-tap-ms = <150>;
    require-prior-idle-ms = <25>;
    tapping-term-ms = <225>;
    retro-tap;
    hold-trigger-on-release;
};

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 33 34 35>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32>;
            hold-trigger-on-release;
        };
    };

    combos { compatible = "zmk,combos"; };

    macros {
        dotspace: dotspace {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp KP_DOT &kp SPACE>;
            label = "DOTSPACE";
        };

        lang: lang {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_wait_time 20>,
                <&macro_tap>,
                <&kp SPACE>,
                <&macro_wait_time 20>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            label = "LANG";
            wait-ms = <20>;
            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
  &kp Q                &kp W  &kp E  &kp R         &kp T                                                 &kp Y  &kp U          &kp I      &kp O    &kp P
  &hml LEFT_CONTROL A  &kp S  &kp D  &kp F         &kp G                                                 &kp H  &kp J          &kp K      &kp L    &hmr RIGHT_CONTROL SEMI
  &hml LEFT_SHIFT Z    &kp X  &kp C  &kp V         &kp B                                                 &kp N  &kp M          &kp COMMA  &kp DOT  &hmr RIGHT_SHIFT SLASH
                                     &kp LEFT_ALT  &kp LEFT_COMMAND  &lt 1 SPACE    &lt 2 LA(BACKSPACE)  &mo 3  &kp RIGHT_ALT
            >;

            display-name = "Base";
        };

        num {
            bindings = <
  &kp ESC           &kp C_BRI_DN  &none       &kp C_BRI_UP  &kp LG(LS(N4))                  &none   &kp N4  &kp N5  &kp N6  &none
  &kp LEFT_CONTROL  &none         &none       &none         &none                           &kp N0  &kp N1  &kp N2  &kp N3  &none
  &kp LEFT_SHIFT    &kp C_VOL_DN  &kp C_MUTE  &kp C_VOL_UP  &kp SPACE                       &none   &kp N7  &kp N8  &kp N9  &none
                                              &trans        &trans          &none    &mo 2  &mo 3   &trans
            >;

            display-name = "Numbers";
        };

        sym {
            display-name = "Base";
            bindings = <
  &kp LA(Q)  &kp LA(W)  &kp LA(E)  &kp LA(R)  &kp LA(T)                  &kp LA(Y)  &kp LA(U)  &kp LA(I)      &kp LA(O)    &kp LA(P)
  &kp LA(A)  &kp LA(S)  &kp LA(D)  &kp LA(F)  &kp LA(G)                  &kp LA(H)  &kp LA(J)  &kp LA(K)      &kp LA(L)    &kp LA(SEMICOLON)
  &kp LA(Z)  &kp LA(X)  &kp LA(C)  &kp LA(V)  &kp LA(B)                  &kp LA(N)  &kp LA(M)  &kp LA(COMMA)  &kp LA(DOT)  &kp LA(SLASH)
                                   &none      &none      &none    &none  &none      &none
            >;

            label = "Symbols";
        };

        nav {
            bindings = <
  &kp ESC           &kp F6  &kp F5  &kp F4  &kp F11                      &none      &kp BACKSPACE   &kp UP_ARROW    &none            &kp LC(LG(T))
  &kp LEFT_CONTROL  &kp F3  &kp F2  &kp F1  &kp F10                      &kp TAB    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LG(LC(E))
  &kp LEFT_SHIFT    &kp F9  &kp F8  &kp F7  &kp F12                      &kp ENTER  &kp DELETE      &none           &none            &lang
                                    &trans  &trans   &dotspace    &none  &none      &trans
            >;

            display-name = "Navigation";
        };
    };
};
